# ASP.NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of NuGet restore.
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed.
#!**/packages/repositories.config

# Microsoft Azure Build Output
csx/
*.build.csdef

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (Mono auto generated)
mono_crash.*

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# VS Code directory
.vscode/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# NPM Packages
node_modules/

# Optional npm cache directory
.npm

# Optional yarn cache directory
.yarn/

# Environment variables
.env

# .NET Core Build
project.lock.json
project.fragment.lock.json
artifacts/
bin/
obj/

# Rider
.idea/
.idea/*
